#root {
  height: 100%;
  background: rgba(22, 25, 37, 0.5);
}
html,
body {
  height: 100%;
  user-select: none;
  @apply bg-slate-900
  backdrop-filter: blur(60px) saturate(210%);
  font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
header {
  -webkit-app-region: drag;
}
button {
  -webkit-app-region: no-drag;
}

/*滚动条样式更改*/
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 6px;
}
/* index.css 或 uno.css 中 */
/* .glass {
  backdrop-filter: blur(50px);
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(20px);
} */
